## Anscombe's Quartet

Constructed by statistician Francis Anscombe in 1973, the Anscombe's quartet consists of four datsets of eleven points each containing X and Y data that have close to identical and in some cases exact descriptive statistics. That is to say their means,variances and standard deviations, correlations between x and y along with regression lines are all either very similiar or exact depending on decimal places of significance. When graphed, these datasets look very different to each other.

The quartet was first published by the american statistical association on Feb 1973, in The American Statistician, volume 27 pp 17-21 and titled 'Graphs in Statistical Analysis'. In it, Anscombe points out that  
graphs are essential to good statistical analysis.It seems that at that time, graphs were considered 'rough' while numerical calculations were considered 'exact'. Anscombe wanted to dispel these notions and show that analysis should be conducted using both as the data may contain outliers or other charateristics that should be studied/reviewed and that will lead to better understanding of the data and results. False data assumpions can be corrected and resulting calculations will be more appropiate.

## How did Anscombe create the quartet ?

It is not known how Anscombe created the datasets. He did not reveal this.
To speculate, it might be logical to think that he created the dataset using a computer. Anscombe, in the same published paper, stated that he himself habitually created plots as described thoughtout his paper at an APL terminal (APL is/was a computer language developed in the 1960's and used extensively at IBM in that period). So it's establised that he can program and use a computer. It's doubtful that he created the dataset by hand or from scratch simply because of complexity. A good guess would be that he already had datasets, changed them incrementally on a computer and observed the results of the changes until a desired outcome was found. He also had the examples to begin with. He was definately aware that this was occuring. In the same published paper he made reference to the fact that forms of the effects seen in his quartet are often encountered in statistical analysis (albeit less extreme). He also references a study paper (to be published elsewhere), that documents the per capita expenditures on public school education in each of the fifty states in the US, together with DC. It was found that the expenditures had staisfactory linear regression but Alaska was different with predictor values far removed from the other states. Alaska was an oulier as such but contributed to the overall result.

Finally, both he and John Tukey were married to sisters. They were also friends. Tukey himself was a big supporter of using graphs prior to 1973. Anscombe actually referenced three published papers by Tukey in the quartet publication. It's possible that Tukey had some influence in the concept of the quartet.

### Analysis

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
df = sns.load_dataset("anscombe")

In [8]:
df

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89